Makefile
Makefile.in
*.o
*.la
*.lo
*.pc
.libs/
.deps/
/tmp
/config/*
/m4/
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/packages/apt/**/*.log
/packages/yum/**/*.log
/packages/apt/repositories
/packages/yum/repositories
/packages/rpm/*/*.spec
